<section class="d-flex">
  <section class="containerSection">
    <article class="logoSection">
      <img src="../../../assets/img/Logo.png" alt="Gil Valle Logo">
    </article>
    <article class="enterSection d-flex justify-content-lg-center">
      <a [routerLink]="['/nosotros']"><img src="../../../assets/img/enterArrow.png" alt="enter site"></a>
    </article>
  </section>
  <section class="d-none d-lg-flex rightSection">
    <div class="homeBackground">
      <img src="../../../assets/img/homeBanner.png" alt="">
    </div>
  </section>
</section>
