<section class="d-flex">
  <section class="containerSection">
    <article class="logoSection">
      <img src="../../../assets/img/Logo.png" alt="Gil Valle Logo">
    </article>
    <article class="pSection d-flex justify-content-lg-center">
      <p>Somos un despacho de abogados que a lo largo de 15 años hemos brindado las mejores soluciones y resultados óptimos, satisfaciendo las necesidades de quienes nos han brindado su confianza, procurando razonar fuera de modelos prestablecidos y comprometidos por estar siempre a la vanguardia.</p>
    </article>
  </section>
  <section class="d-none d-lg-flex rightSection">
    <div class="homeBackground">
      <img src="../../../assets/img/homeBanner.png" alt="">
    </div>
  </section>
</section>
