<section class="d-flex">
  <section class="containerSection">
    <article class="logoSection">
      <img src="../../../assets/img/Logo.png" alt="Gil Valle Logo">
    </article>
    <article class="pSection d-flex justify-content-lg-center">
      <p>En Gil Valle y Asociados, S.C., nos caracterizamos por el profesionalismo, la honestidad, la transparencia y el
        humanismo con el que nos conducimos, dando resultados con la más alta calidad en nuestros servicios legales para
        todos y cada uno de nuestros Clientes.</p>
    </article>
  </section>
  <section class="d-none d-lg-flex rightSection">
    <div class="homeBackground">
      <img src="../../../assets/img/homeBanner.png" alt="">
    </div>
  </section>
</section>
