<section class="d-flex">
  <section class="containerSection">
    <article class="logoSection">
      <img src="../../../assets/img/Logo.png" alt="Gil Valle Logo">
    </article>
    <article class="pSection d-flex justify-content-lg-center">
      <p>Somos un despacho que nos caracteriza el profesionalismo, la honestidad, la transparencia y el humanismo con el que nos conducimos, con vasta experiencia y herramientas estratégicas para solucionar las necesidades de nuestros Clientes.
        <br><br>
        Nos enorgullecemos de ser líderes en las áreas que nos distinguen, como: (i) gobierno corporativo y contratos (ii) litigio estratégico; (iii) laboral; (iv) propiedad industrial y derechos de autor; y (v) derecho migratorio.<br><br>
          En estos 15 años de desarrollo profesional ininterrumpido, hemos conseguido dar los mejores resultados para que, junto con nuestros Clientes, logremos alcanzar las metas trazadas.<br><br>
          Nuestra trayectoria y amplia cartera de Clientes avalan nuestro trabajo, el cual busca satisfacer en todo momento las necesidades de quienes nos brindan su confianza.<br><br>
          Al ser un despacho independiente e integral, nos complace ofrecer un esfuerzo colegiado de trabajo, sustentado y avalado por nuestra red de colaboradores profesionales, comprometidos a superar en todo momento las expectativas de nuestros Clientes.<br><br>
          A cada uno de nuestros Clientes brindamos un trato personalizado y humano, con la más alta calidad en nuestros servicios legales, proveyendo siempre una asesoría que brinde los mejores estándares, experiencia y conocimiento.<br><br>
          Por último, pero no menos importante, nos esforzamos por ser un equipo de trato accesible, realista, justo y cercano que permita a nuestros Clientes sentirse cómodos al trabajar con nosotros.
          
        </p>
    </article>
  </section>
  <section class="d-none d-lg-flex rightSection">
    <div class="homeBackground">
      <img src="../../../assets/img/homeBanner.png" alt="">
    </div>
  </section>
</section>
