<section class="d-lg-flex">
  <div class="leftSection mt-5">
    <article class="logoSection">
      <img src="../../../assets/img/Logo.png" alt="logo">
    </article>
    <article class="contactSection px-3">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-5 offset-md-2 contact-card d-flex flex-column align-items-center mt-4 mt-md-0">
            <img src="../../../assets/icons/direccion.svg" alt="Direccion Icon">
            <h4 class="mt-3">Dirección</h4>
            <p>Miguel Ángel de Quevedo No. 8, Despacho 603,
                Col. Hacienda de Guadalupe Chimalistac, Alcaldía Álvaro Obregón, C.P. 01050, Ciudad de México</p>
          </div>
          <div class="col-12 col-md-5 contact-card d-flex flex-column align-items-center mt-4 mt-md-0">
            <img src="../../../assets/icons/horario.svg" alt="Horarios Icon">
            <h4 class="mt-3">Horarios de oficina</h4>
            <p>Lunes - Viernes <br> 9:00am - 7:00pm</p>
          </div>
          <div class="col-12 col-md-5 offset-md-2 contact-card d-flex flex-column align-items-center mt-4 mt-md-5">
            <img src="../../../assets/icons/telefonos.svg" alt="Telefonos Icon">
            <h4 class="mt-3">Teléfono</h4>
            <p>+52 (55) 8848 1836 <br> +52 (55) 8848 1840</p>
          </div>
          <div class="col-12 col-md-5 contact-card d-flex flex-column align-items-center my-4 mt-md-5">
            <img src="../../../assets/icons/mail.svg" alt="Mail Icon">
            <h4>Email</h4>
            <a href="mailto:contacto@gilvalle.mx">contacto@gilvalle.mx</a>
          </div>
        </div>
      </div>
    </article>
  </div>
  <article class="mapSection mb-3">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5160.24945680411!2d-99.1871718253629!3d19.349439168802927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fff77228c0f9%3A0x37ebaa83aca79376!2sAv%20Miguel%20%C3%81ngel%20de%20Quevedo%208%2C%20Agr%C3%ADcola%2C%20Chimalistac%2C%20%C3%81lvaro%20Obreg%C3%B3n%2C%2001050%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses!2smx!4v1576692120508!5m2!1ses!2smx" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="">
    </iframe>
  </article>
</section>
