<header class="d-block d-lg-none">
  <div class="nav-icon" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseBasic">
    <div></div>
  </div>
  <div id="collapseBasic" [collapse]="isCollapsed" class="navbarlist">
    <div class="well well-lg card card-block card-header fixHeightDesk">
      <ul>
        <li><a (click)="isCollapsed = !isCollapsed" [routerLink]="['/']">Inicio</a></li>
        <li><a (click)="isCollapsed = !isCollapsed" [routerLink]="['/nosotros']">Nosotros</a></li>
        <li><a (click)="isCollapsed = !isCollapsed" [routerLink]="['/gobierno-corporativo']">Gobierno Corporativo <br
              class="d-block d-lg-none">
            y Contratos</a></li>
        <li><a (click)="isCollapsed = !isCollapsed" [routerLink]="['/litigio-estrategico']">Litigio <br
              class="d-block d-lg-none"> y
            Estratégico</a></li>
        <li><a (click)="isCollapsed = !isCollapsed" [routerLink]="['/laboral']">Laboral</a>
        </li>
        <li><a (click)="isCollapsed = !isCollapsed" [routerLink]="['/propiedad-industrial']">Propiedad Industrial y
            <br>Derechos de Autor</a>
        </li>
        <li><a (click)="isCollapsed = !isCollapsed" [routerLink]="['/derecho-migratorio']">Derecho Migratorio</a>
        </li>
        <li><a class="contactWord" (click)="isCollapsed = !isCollapsed" [routerLink]="['/contacto']">Contacto</a></li>
        <li><a class="orangeWord" (click)="isCollapsed = !isCollapsed" href="../assets/pdf/Carta-de-servicios-Gil-Valle.pdf"
            target="_blank">Carta de Servicios</a></li>
        <li class="d-block d-lg-none">
          <a [routerLink]="['/contacto']"><img src="../assets/img/pin.png" alt=""></a>
        </li>
        <li class="d-block d-lg-none">
          <a href="https://www.linkedin.com/in/gil-gil-valle-0a86442/es?originalSubdomain=mx" target="_blank"><img
              src="../assets/img/linkedin.png" alt="linkedin"></a>
        </li>
      </ul>
    </div>
  </div>
</header>
<header class="d-none d-lg-flex">
  <nav class="menu">
    <ol>
      <li class="menu-item"><a [routerLink]="['/']">INICIO</a></li>
      <li class="menu-item"><a [routerLink]="['/nosotros']">NOSOTROS</a></li>
      <div class="w3-dropdown-hover">
        <a class="menu-item">Servicios</a>
        <div class="w3-dropdown-content w3-bar-block w3-border">
          <a (click)="isCollapsed = !isCollapsed" [routerLink]="['/gobierno-corporativo']"
            class="w3-bar-item w3-button">GOBIERNO CORPORATIVO Y CONTRATOS</a>
          <a (click)="isCollapsed = !isCollapsed" [routerLink]="['/litigio-estrategico']"
            class="w3-bar-item w3-button">LITIGIO ESTRATEGICO</a>
          <a (click)="isCollapsed = !isCollapsed" [routerLink]="['/laboral']" class="w3-bar-item w3-button">LABORAL</a>
          <a (click)="isCollapsed = !isCollapsed" [routerLink]="['/propiedad-industrial']"
            class="w3-bar-item w3-button">PROPIEDAD INDUSTRIAL Y
            DERECHOS DE AUTOR</a>
          <a (click)="isCollapsed = !isCollapsed" [routerLink]="['/derecho-migratorio']"
            class="w3-bar-item w3-button">DERECHO MIGRATORIO</a>

        </div>
      </div>
      <li class="menu-item"><a class="contactWord" [routerLink]="['/contacto']">CONTACTO</a></li>
      <li class="menu-item"><a class="orangeWord" href="../assets/pdf/Carta-de-servicios-Gil-Valle.pdf" target="_blank">CARTA DE
          SERVICIOS</a></li>
    </ol>
    <span class="bar"></span>
  </nav>
</header>
<main>
  <div class="leftImage d-none d-lg-flex flex-lg-column align-items-lg-center justify-content-lg-end">
    <a [routerLink]="['/contacto']">
      <img class="m-lg-2 mb-lg-5" src="../assets/img/pin.png" alt="pin">
    </a>
    <a href="https://www.linkedin.com/in/gil-gil-valle-0a86442/es?originalSubdomain=mx" target="_blank">
      <img class="m-lg-2 mb-lg-5" src="../assets/img/linkedin.png" alt="linkedin">
    </a>
  </div>
  <router-outlet></router-outlet>
</main>
<footer>
  <img class="barraColores d-block d-lg-none" src="../assets/img/colorBaseHotizontal.png" alt="colores">
  <a href="../assets/pdf/Aviso-de-Privacidad-Gil-Valle.pdf" target="_blank">Aviso de privacidad</a>
</footer>
