<section class="d-flex">
  <article class="leftSection mt-5">
    <div class="logoSection">
      <img src="../../../assets/img/Logo.png" alt="">
    </div>
    <div class="mainSection">
      <h2 class="pl-5">Derecho<br> Migratorio</h2>
      <ul class="mt-5 px-5">
        <li>Autorización de visa por oferta de empleo (internación)</li>
        <li class="mt-3">Renovación de Tarjetas de Residente Temporal (1, 2, 3 años)</li>
        <li class="mt-3">Cambios de Condición Migratoria (residente temporal y residente permanente)</li>
        <li class="mt-3">Regularización migratoria</li>
        <li class="mt-3">Notificación de cambios de información del extranjero (cambio de domicilio, cambio de lugar de trabajo, cambio de estado civil)</li>
        <li class="mt-3">Permisos de salida y regreso</li>
        <li class="mt-3">Constancias de inscripción de empleador</li>
        <li class="mt-3">Permisos de trabajo</li>
        <li class="mt-3">Obtención de Certificado de no antecedentes penales</li>
        <li class="mt-3">Apostillas y legalizaciones en el interior de la Republica y E.U.A.</li>
        <li class="mt-3">Naturalización</li>
      </ul>
      <img src="../../../assets/img/oficina-constitucional_y-_amparo.png" class="my-5 d-none d-lg-block" alt="image contracts">
    </div>
  </article>
  <article class="rightSection">
      <div>
        <li class="d-flex" style="width: 100%">
          <a [routerLink]="['/gobierno-corporativo']" style="width: 50%"
            class="d-flex justify-content-center align-items-center"> Gobierno<span class="d-none d-lg-block ml-2">Corporativo y Contratos</span> </a>
          <a [routerLink]="['/gobierno-corporativo']" style="width: 50%">
            <div class="d-none d-lg-block sectionImg">
              <img src="../../../assets/img/contratoSection.png" alt="Gobierno Corporativo">
            </div>
          </a>
        </li>
      </div>
      <div>
        <li class="d-flex" style="width: 100%">
          <a [routerLink]="['/litigio-estrategico']" style="width: 50%"
            class="d-flex justify-content-center align-items-center"> Litigio<span class="d-none d-lg-block ml-2">Estratégico</span> </a>
          <a [routerLink]="['/litigio-estrategico']" style="width: 50%">
            <div class="d-none d-lg-block sectionImg">
              <img src="../../../assets/img/civilSection.png" alt="Litigio Estrategico">
            </div>
          </a>
        </li>
      </div>
      <div>
        <li class="d-flex" style="width: 100%">
          <a [routerLink]="['/laboral']" style="width: 50%"
            class="d-flex justify-content-center align-items-center"> Laboral</a>
          <a [routerLink]="['/laboral']" style="width: 50%">
            <div class="d-none d-lg-block sectionImg">
              <img src="../../../assets/img/litigioSection.png" alt="Laboral">
            </div>
          </a>
        </li>
      </div>
      <div>
        <li class="d-flex" style="width: 100%">
          <a [routerLink]="['/propiedad-industrial']" style="width: 50%"
            class="d-flex justify-content-center align-items-center">Propiedad <span class="d-none d-lg-block ml-2">
              Industrial y Derechos de Autor</span></a> 
          <a [routerLink]="['/propiedad-industrial']" style="width: 50%">
            <div class="d-none d-lg-block sectionImg">
              <img src="../../../assets/img/derechoMigratorio.png" alt="Propiedad Industrial">
            </div>
          </a>
        </li>
      </div>
      <div>
        <li class="d-flex" style="width: 100%">
          <a [routerLink]="['/derecho-migratorio']" style="width: 50%"
            class="d-flex justify-content-center align-items-center">Derecho <span class="d-none d-lg-block ml-2">
                Migratorio</span></a>
          <a [routerLink]="['/derecho-migratorio']" style="width: 50%">
            <div class="d-none d-lg-block sectionImg">
              <img src="../../../assets/img/migratorio.png" alt="Litigio">
            </div>
          </a>
        </li>
      </div>
    </article>
</section>
